@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "PlusJakartaSans-Regular";
	src: url("./assets/fonts/PlusJakartaSans-Regular.woff2") format("woff2");
}
@font-face {
	font-family: "PlusJakartaSans-Medium";
	src: url("./assets/fonts/PlusJakartaSans-Medium.woff2") format("woff2");
}
@font-face {
	font-family: "PlusJakartaSans-SemiBold";
	src: url("./assets/fonts/PlusJakartaSans-SemiBold.woff2") format("woff2");
}
@font-face {
	font-family: "PlusJakartaSans-Bold";
	src: url("./assets/fonts/PlusJakartaSans-Bold.woff2") format("woff2");
}
